#socials {
  background-color: #303030;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-wrap {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: #797979;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    background-color: #0282f9;

    i {
      color: white;
    }
  }

  i {
    color: #303030;
  }
}

.bottom-text {
  color: #0282f9;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #0282f9;
  padding: 10px 15px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: #0282f9;
  }
}

ul li {
  display: inline-block;

  a {
    padding: 30px 10px;
    text-decoration: none;
    color: grey;
  }
}
