footer {
  background-image: url("../assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  height: 340px;
  display: flex;

  h2 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      a {
        color: grey;
        font-size: 13px;
        text-decoration: none;
      }
    }
  }
}

.footer-left {
  width: 40%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .col-4 {
    float: left;
    padding-right: 30px;
  }
}

.footer-right {
  // background-image: url("../assets/img/dc-logo-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
