footer {
  background-image: url("../assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  height: 340px;

  h2 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      a {
        color: grey;
        font-size: 13px;
        text-decoration: none;
        text-transform: none;
      }
    }
  }
}

.footer-left {
  width: 40%;
}

.footer-right {
  background-image: url("../assets/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
}
