header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  display: inline-block;

  a {
    padding: 10px 10px;
    text-decoration: none;
    color: black;

    &.active {
      background-color: aqua;
    }
  }
}
