.main {
  background-color: #0282f9;
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  list-style-type: none;
  padding: 20px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  justify-content: center;
}
.col-2 {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;

  img {
    height: 45px;
    width: auto;
  }

  span {
    padding-left: 10px;
  }
}
